{% extends "eu_elections_analytics/base.html" %}



{% block content %}

    <h1>¿Quiénes somos?</h1>

    <br>

    <p>
        Este proyecto surge de la colaboración entre científicos sociales e ingenieros informáticos de la Universidad de Deusto que comparten sus ganas de divertirse transfiriendo su conocimiento a la sociedad para contribuir a la mejora de la calidad del debate público. El equipo lo forman:
    </p>

    <br>

    <div class="row">
        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/aitor-almeida.jpg">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Aitor Almeida.</strong> Doctor en ciencias de la computación. Trabajo como investigador en el grupo <a target="_blank" href="http://www.morelab.deusto.es/">MORElab</a> de la Universidad de Deusto. Mis áreas de investigación incluyen la minería de datos, el análisis de redes sociales, la web semántica y la computación ubícua.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/braulio-gomez.png">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Braulio Gómez.</strong> Doctor en Ciencias Políticas y Sociología. Investigador principal del <a target="_blank" href="http://www.regionalmanifestosproject.com/">Regional Manifestos Project</a>. Interesado en el funcionamiento de la democracia desde el punto de vista de los ciudadanos. Cómplice e impulsor de cualquier proyecto que implique innovación social y devolución de conocimiento a la sociedad.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/guillem-marti.jpg">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Guillem Martí.</strong> Graduado en Ciencias Políticas y de la Administración Pública. Becario de investigación en prácticas del <a target="_blank" href="http://www.regionalmanifestosproject.com/">Regional Manifestos Project</a>. Y sus principales áreas de interés son la UE, los sistemas electorales, y las políticas públicas.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/juan-sixto.jpg">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Juan Sixto.</strong> Ingeniero Informático y Máster en Desarrollo e Integración de Soluciones Software por la Universidad de Deusto, actualmente se encuentra realizando su doctorado en el grupo <a target="_blank" href="http://www.morelab.deusto.es/">MORElab</a>. Sus áreas de investigación incluye el Procesado de Lenguaje Natural y el análisis de redes sociales.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/laura-cabeza.png">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Laura Cabeza.</strong> Licenciada en Sociología por la Universidad de Barcelona y Maestra en Política y Democracia por la UNED. Actualmente es ayudante de investigación en la Universidad de Deusto y forma parte del equipo del <a target="_blank" href="http://www.regionalmanifestosproject.com/">Regional Manifestos Project</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/lorena-fernandez.jpg">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Lorena Fernández.</strong> Licenciada en Ingeniería Informática y Máster en Seguridad de la Información. Actualmente Directora de Identidad Digital de la Universidad de Deusto. Interesada en la web social. En internet me muevo como <a target="_blank" href="http://blog.loretahur.net/">Loretahur</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="people col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3">
                    <img width="150"src="{{ STATIC_PREFIX }}img/people/oscar-pena.jpg">
                </div>

                <div class="col-md-9">
                    <p>
                        <strong>Oscar Peña.</strong> Ingeniero Informático y Máster en Desarrollo e Integración de Soluciones Software por la Universidad de Deusto, actualmente se encuentra realizando su doctorado en el grupo <a target="_blank" href="http://www.morelab.deusto.es/">MORElab</a> gracias a una beca del Gobierno Vasco. Sus áreas de interés son la visualización de información, la web semántica y las iniciativas de gobierno abierto.
                    </p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



{% block scripts %}
{% endblock %}
