{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html>
    <head>
        <title>EU elections analytics</title>
        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="author" content="">
        <meta name="robots" content="index, follow" />

        <meta name="keywords" content="" />
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>

        {% block header_css %}{% endblock %}
    </head>

    <body>
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="{{ STATIC_PREFIX }}img/ep_logo.png" width="50">
                                euro e-lecciones
                            </a>
                        </div>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        Hashtags&emsp;<b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'hashtags' %}">All (index)</a>
                                        </li>

                                        <li>
                                            <a href="#">By country</a>
                                        </li>

                                        <li>
                                            <a href="#">By candidate</a>
                                        </li>

                                        <li>
                                            <a href="#">By group</a>
                                        </li>

                                        <li>
                                            <a href="#">Top evolution</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Languages&emsp;<b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'languages' %}">All (index)</a>
                                        </li>

                                        <li>
                                            <a href="#">By country</a>
                                        </li>

                                        <li>
                                            <a href="#">By candidate</a>
                                        </li>

                                        <li>
                                            <a href="#">By group</a>
                                        </li>

                                        <li>
                                            <a href="#">Top evolution</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="{% url 'geo_group_representation' %}">
                                        Geo group representation
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'group_representation_by_country' %}">
                                        Group representation
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Interaction communities&emsp;<b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Between parties</a>
                                        </li>

                                        <li>
                                            <a href="{% url 'interaction_communities' %}">On twitter</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div id="main-container" class="container">
                {% block content %}{% endblock %}
            </div> <!-- end main-container -->

        </div> <!-- first .container -->

        <footer>
            <div class="container">
            </div>
        </footer>
    </body>

    <script src="{{ STATIC_PREFIX }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
</html>
