{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html>
    <head>
        <title>EU elections analytics</title>
        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="author" content="">
        <meta name="robots" content="index, follow" />

        <meta name="keywords" content="" />
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>

        {% block header_css %}{% endblock %}
    </head>

    <body>
        <a href="{% url 'home' %}">
            <img id="header-image" class="img-responsive" src="{{ STATIC_PREFIX }}img/header.jpg"/>
        </a>

        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        Hashtags de la campaña&emsp;<b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'hashtags_group_index' %}">Por grupo</a>
                                        </li>

                                        <li>
                                            <a href="{% url 'hashtags_country_index' %}">Por país</a>
                                        </li>

                                        <li>
                                            <a href="{% url 'hashtags_candidate_index' %}">Por candidato</a>
                                        </li>

                                        <li>
                                            <a href="#">Evolución de los más utilizados</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Idioma de los tweets&emsp;<b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'languages_group_index' %}">Por grupo</a>
                                        </li>

                                        <li>
                                            <a href="{% url 'languages_country_index' %}">Por país</a>
                                        </li>

                                        <li>
                                            <a href="{% url 'languages_candidate_index' %}">Por candidato</a>
                                        </li>

                                        <li>
                                            <a href="#">Evolución de los más utilizados</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="{% url 'geo_group_representation' %}">
                                        Mapeando los partidos
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'interaction_communities' %}">
                                        Interacciones en twitter
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div id="main-container" class="container">
                {% block content %}{% endblock %}
            </div> <!-- end main-container -->

        </div> <!-- first .container -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 centered">
                        <a target="_blank" href="http://www.morelab.deusto.es/">
                            <img id="morelab-logo" src="{{ STATIC_PREFIX }}img/morelab.png"/>
                        </a>
                    </div>

                    <div class="col-md-4 centered">
                        <a target="_blank" href="http://barometrosocial.deusto.es/">
                            <img id="deusto-barometro-logo" src="{{ STATIC_PREFIX }}img/deusto_barometro.png"/>
                        </a>
                    </div>

                    <div class="col-md-4 centered">
                        <a target="_blank" href="http://deusto.es">
                            <img id="deusto-logo" src="{{ STATIC_PREFIX }}img/deusto.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

    <script src="{{ STATIC_PREFIX }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
</html>
