{% extends "eu_elections_analytics/base.html" %}



{% block header_css %}

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/leaflet.awesome-markers.css">

    <style>
        #map {
            height: 600px;
        }
    </style>

{% endblock %}



{% block content %}

    <div class="center">
        <span id="alde-button" type="button" class="btn btn-alde" onclick="toogleLayerGroupVisibility(this, 'alde');">
            ALDE&emsp;<span class="badge">35</span>
        </span>

        <span id="eaf-button" type="button" class="btn btn-eaf" onclick="toogleLayerGroupVisibility(this, 'eaf');">
            EAF&emsp;<span class="badge">5</span>
        </span>

        <span id="ecr-button" type="button" class="btn btn-ecr" onclick="toogleLayerGroupVisibility(this, 'ecr');">
            ECR&emsp;<span class="badge">12</span>
        </span>

        <span id="efd-button" type="button" class="btn btn-efd" onclick="toogleLayerGroupVisibility(this, 'efd');">
            EFD&emsp;<span class="badge">11</span>
        </span>

        <span id="epp-button" type="button" class="btn btn-epp" onclick="toogleLayerGroupVisibility(this, 'epp');">
            EPP&emsp;<span class="badge">50</span>
        </span>

        <span id="gue-ngl-button" type="button" class="btn btn-gue-ngl" onclick="toogleLayerGroupVisibility(this, 'gue-ngl');">
            GUE/NGL&emsp;<span class="badge">16</span>
        </span>

        <span id="greens-button" type="button" class="btn btn-greens" onclick="toogleLayerGroupVisibility(this, 'greens');">
            Greens&emsp;<span class="badge">21</span>
        </span>

        <span id="sd-button" type="button" class="btn btn-sd" onclick="toogleLayerGroupVisibility(this, 'sd');">
            S&D&emsp;<span class="badge">31</span>
        </span>
    </div>

    <br>

    <div class="row">
        <div id="map" class="col-md-8 col-md-offset-2"></div>
    </div>

{% endblock %}



{% block scripts %}

    <script src="{{ STATIC_PREFIX }}js/leaflet.js"></script>
    <script src="{{ STATIC_PREFIX }}js/leaflet.awesome-markers.min.js"></script>

    <script>
        // var group_colors = [
        //     "#f7981d",  // ALDE
        //     "#858585",  // EAF
        //     "#22205f",  // ECR
        //     "#973693",  // EFD
        //     "#6598cb",  // EPP
        //     "#981b1e",  // GUE/NGL
        //     "#0b9147",  // Greens
        //     "#ef4d4d"   // S&D
        // ];

        var partyIcon = L.Icon.extend({
            options: {
                shadowUrl: '/static/img/shadow.png',
                iconSize: [30, 48],
                shadowSize: [35, 16],
            }
        });

        var aldeIcon = new partyIcon({iconUrl: '/static/img/alde_icon.png'});
        var eafIcon = new partyIcon({iconUrl: '/static/img/eaf_icon.png'});
        var ecrIcon = new partyIcon({iconUrl: '/static/img/ecr_icon.png'});
        var efdIcon = new partyIcon({iconUrl: '/static/img/efd_icon.png'});
        var eppIcon = new partyIcon({iconUrl: '/static/img/epp_icon.png'});
        var guenglIcon = new partyIcon({iconUrl: '/static/img/gue_ngl_icon.png'});
        var greensIcon = new partyIcon({iconUrl: '/static/img/greens_icon.png'});
        var sdIcon = new partyIcon({iconUrl: '/static/img/sd_icon.png'});

        var iconObject = {
            "ALDE": aldeIcon,
            "EAF": eafIcon,
            "ECR": ecrIcon,
            "EFD": efdIcon,
            "EPP": eppIcon,
            "GUE/NGL": guenglIcon,
            "Greens": greensIcon,
            "S&D": sdIcon
        };

        // var map = L.map('map').setView([51.5, -0.1], 5);
        var map = L.map('map').setView([48.779209, 9.1772152], 4);

        var osm_tile = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var ocm_tile = 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png';
        // More maps in here:   https://github.com/leaflet-extras/leaflet-providers

        L.tileLayer(osm_tile, {maxZoom: 18}).addTo(map);

        var alde = [];
        var eaf = [];
        var ecr = [];
        var efd = [];
        var epp = [];
        var gue_ngl = [];
        var greens = [];
        var sd = [];

        var alde_layergroup;

        var parties_json;
        $.getJSON("{{ STATIC_PREFIX }}data/all_parties_data.json", function(json) {
            parties_json = json;

            for (var party_index in parties_json) {
                var party = parties_json[party_index];

                var popupContent = "<h5>" + party.name + " (" + party.group + ")</h5>" + party.wikipedia_site + "<br>" + party.city + " (" + party.country + ") <br>(" + party.lat + ", " + party.lng +")";
                var marker = L.marker([party.lat, party.lng], {icon: iconObject[party.group]}).bindPopup(popupContent);

                if (party.group == "ALDE") {
                    alde.push(marker);
                }
                else if (party.group == "EAF") {
                    eaf.push(marker);
                }
                else if (party.group == "ECR") {
                    ecr.push(marker);
                }
                else if (party.group == "EFD") {
                    efd.push(marker);
                }
                else if (party.group == "EPP") {
                    epp.push(marker);
                }
                else if (party.group == "GUE/NGL") {
                    gue_ngl.push(marker);
                }
                else if (party.group == "Greens") {
                    greens.push(marker);
                }
                else if (party.group == "S&D") {
                    sd.push(marker);
                }
            };

            alde_layergroup = L.layerGroup(alde);
            alde_layergroup.addTo(map);

            eaf_layergroup = L.layerGroup(eaf);
            eaf_layergroup.addTo(map);

            ecr_layergroup = L.layerGroup(ecr);
            ecr_layergroup.addTo(map);

            efd_layergroup = L.layerGroup(efd);
            efd_layergroup.addTo(map);

            epp_layergroup = L.layerGroup(epp);
            epp_layergroup.addTo(map);

            gue_ngl_layergroup = L.layerGroup(gue_ngl);
            gue_ngl_layergroup.addTo(map);

            greens_layergroup = L.layerGroup(greens);
            greens_layergroup.addTo(map);

            sd_layergroup = L.layerGroup(sd);
            sd_layergroup.addTo(map);
        });


        function toogleLayerGroupVisibility(that, layer_group_name) {
            var button = $(that);
            var layer_group;
            var btn_class;

            if (layer_group_name == 'alde') {
                layer_group = alde_layergroup;
                btn_class = 'btn-alde';
            }
            else if (layer_group_name == 'eaf') {
                layer_group = eaf_layergroup;
                btn_class = 'btn-eaf';
            }
            else if (layer_group_name == 'ecr') {
                layer_group = ecr_layergroup;
                btn_class = 'btn-ecr';
            }
            else if (layer_group_name == 'efd') {
                layer_group = efd_layergroup;
                btn_class = 'btn-efd';
            }
            else if (layer_group_name == 'epp') {
                layer_group = epp_layergroup;
                btn_class = 'btn-epp';
            }
            else if (layer_group_name == 'gue-ngl') {
                layer_group = gue_ngl_layergroup;
                btn_class = 'btn-gue-ngl';
            }
            else if (layer_group_name == 'greens') {
                layer_group = greens_layergroup;
                btn_class = 'btn-greens';
            }
            else if (layer_group_name == 'sd') {
                layer_group = sd_layergroup;
                btn_class = 'btn-sd';
            }

            // Toogle visibility
            if (button.hasClass("btn-default")) {
                map.addLayer(layer_group);
                button.removeClass();
                button.addClass("btn");
                button.addClass(btn_class);
            }
            else {
                map.removeLayer(layer_group);
                button.removeClass();
                button.addClass("btn btn-default");
            }
        }



        // L.layerGroup(alde).addTo(map);

        // $.getJSON("{{ STATIC_PREFIX }}data/group_parties.json", function(json) {
        //     for (var group_array_index in json) {
        //         var group_array = json[group_array_index];

        //         for (var party_index in group_array) {
        //             var party = group_array[party_index];

        //             var max = 0.05;
        //             var min = -0.05;

        //             var lat = parseFloat(party['data']['lat']) + Math.floor(Math.random()*(max-min+1)+min);
        //             var lng = parseFloat(party['data']['lon']) + Math.floor(Math.random()*(max-min+1)+min);

        //             var party_name = party['party'];
        //             var group_name = party['data']['group'];

        //             var popupContent = "<h5>" + party_name + " (" + group_name + ")</h5>";

        //             L.marker([lat, lng], {icon: iconObject[group_name]}).bindPopup(popupContent).addTo(map);
        //         }
        //     }
        // });
    </script>

{% endblock %}
