{% extends "eu_elections_analytics/base.html" %}



{% block header_css %}

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/leaflet.awesome-markers.css">

    <style>
        #map {
            height: 600px;
        }
    </style>

{% endblock %}



{% block content %}

    <div id="map"></div>

{% endblock %}



{% block scripts %}

    <script src="{{ STATIC_PREFIX }}js/leaflet.js"></script>
    <script src="{{ STATIC_PREFIX }}js/leaflet.awesome-markers.min.js"></script>

    <script>
        // var group_colors = [
        //     "#f7981d",  // ALDE
        //     "#858585",  // EAF
        //     "#22205f",  // ECR
        //     "#973693",  // EFD
        //     "#6598cb",  // EPP
        //     "#981b1e",  // GUE/NGL
        //     "#0b9147",  // Greens
        //     "#ef4d4d"   // S&D
        // ];

        var iconALDE = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'orange'});
        var iconEAF = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'darkgreen'});
        var iconECR = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'cadetblue'});
        var iconEFD = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'purple'});
        var iconEPP = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'blue'});
        var iconGUENGL = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'darkred'});
        var iconGreens = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'green'});
        var iconSD = L.AwesomeMarkers.icon({icon: 'star', prefix: 'fa', iconColor: 'white', spin: false, markerColor: 'red'});

        var iconObject = {
            "ALDE": iconALDE,
            "EAF": iconEAF,
            "ECR": iconECR,
            "EFD": iconEFD,
            "EPP": iconEPP,
            "GUE/NGL": iconGUENGL,
            "Greens": iconGreens,
            "S&D": iconSD
        };

        var map = L.map('map').setView([51.5, -0.1], 4);

        var osm_tile = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var ocm_tile = 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png';
        // More maps in here:   https://github.com/leaflet-extras/leaflet-providers

        L.tileLayer(osm_tile, {maxZoom: 18}).addTo(map);

        var alde = [];
        var eaf = [];
        var ecr = [];
        var efd = [];
        var epp = [];
        var gue_ngl = [];
        var greens = [];
        var sd = [];

        var alde_layergroup;

        var parties_json;
        $.getJSON("{{ STATIC_PREFIX }}data/all_parties_data.json", function(json) {
            parties_json = json;

            for (var party_index in parties_json) {
                var party = parties_json[party_index];

                var popupContent = "<h5>" + party.name + " (" + party.group + ")</h5>" + party.wikipedia_site + "<br>" + party.city + " (" + party.country + ") <br>(" + party.lat + ", " + party.lng +")";
                var marker = L.marker([party.lat, party.lng], {icon: iconObject[party.group]}).bindPopup(popupContent);

                if (party.group == "ALDE") {
                    alde.push(marker);
                }
                else if (party.group == "EAF") {
                    eaf.push(marker);
                }
                else if (party.group == "ECR") {
                    ecr.push(marker);
                }
                else if (party.group == "EFD") {
                    efd.push(marker);
                }
                else if (party.group == "EPP") {
                    epp.push(marker);
                }
                else if (party.group == "GUE/NGL") {
                    gue_ngl.push(marker);
                }
                else if (party.group == "Greens") {
                    greens.push(marker);
                }
                else if (party.group == "S&D") {
                    sd.push(marker);
                }
            };

            // L.layerGroup(alde).addTo(map);


            alde_layergroup = L.layerGroup(alde);
            alde_layergroup.addTo(map);

            L.layerGroup(eaf).addTo(map);
            L.layerGroup(ecr).addTo(map);
            L.layerGroup(efd).addTo(map);
            L.layerGroup(epp).addTo(map);
            L.layerGroup(gue_ngl).addTo(map);
            L.layerGroup(greens).addTo(map);
            L.layerGroup(sd).addTo(map);
        });





        // L.layerGroup(alde).addTo(map);

        // $.getJSON("{{ STATIC_PREFIX }}data/group_parties.json", function(json) {
        //     for (var group_array_index in json) {
        //         var group_array = json[group_array_index];

        //         for (var party_index in group_array) {
        //             var party = group_array[party_index];

        //             var max = 0.05;
        //             var min = -0.05;

        //             var lat = parseFloat(party['data']['lat']) + Math.floor(Math.random()*(max-min+1)+min);
        //             var lng = parseFloat(party['data']['lon']) + Math.floor(Math.random()*(max-min+1)+min);

        //             var party_name = party['party'];
        //             var group_name = party['data']['group'];

        //             var popupContent = "<h5>" + party_name + " (" + group_name + ")</h5>";

        //             L.marker([lat, lng], {icon: iconObject[group_name]}).bindPopup(popupContent).addTo(map);
        //         }
        //     }
        // });
    </script>

{% endblock %}
