{% extends "eu_elections_analytics/base.html" %}



{% block content %}

    <a href="{% url 'group_representation_by_country' %}">
        Group representation by country
    </a>

    <br>

    <a href="{% url 'party_representation_on_map' %}">
        Party representation on map
    </a>



    <br>
    <br>
    <br>



    <a href="{% url 'map1' %}">
        Map (version 1)
    </a>

    <br>

    <a href="{% url 'map2' %}">
        Map (version 2)
    </a>

    <br>

    <a href="{% url 'map3' %}">
        Map (version 3)
    </a>

{% endblock %}



{% block scripts %}
{% endblock %}
