{% extends "eu_elections_analytics/base.html" %}



{% block content %}

    <div class="row">
        <div class="descriptions col-md-6">
            <p>
                Bienvenido a la página de datos de euro e-lecciones. Esta página es un apoyo al blog que puedes encontrar en <a href="http://euroelecciones.infolibre.es">http://euroelecciones.infolibre.es</a>. En esta página haremos un seguimiento en tiempo real de la actividad de los partidos y grupos europeos en twitter durante toda la campaña.  Dado que en el blog analizaremos los programas de los partidos europeos, el análisis de esta página se centrará en aquellos partidos estatales ligados a un partido europeo. Aun así, hemos añadido al seguimiento también a los partidos españoles más representativos que no están adscritos a ningún partido europeo. Aquí podrás explorar esta actividad y ver como es el comportamiento de los partidos. Para hacer más sencillo este proceso hemos dividido los datos en diferentes categorías.
            </p>

            <dl>
                <dt>
                    Hashtags de la campaña
                </dt>

                <dd>
                    Podrás ver cuáles son los <a target="_blank" href="http://es.wikipedia.org/wiki/Hashtag">hashtags</a> más utilizados por cada <a href="{% url 'hashtags_group_index' %}">grupo</a>, por cada <a href="{% url 'hashtags_candidate_index' %}">candidato</a> y por cada <a href="{% url 'hashtags_country_index' %}">país</a>, así como su evolución cronológica. Así podrás saber cuáles son las temáticas más tratadas en cada área.
                </dd>

                <br>

                <dt>
                    Idioma de los tuits
                </dt>

                <dd>
                    Aquí hacemos un análisis de los idiomas utilizados por los <a href="{% url 'languages_group_index' %}">grupos</a>, <a href="{% url 'languages_country_index' %}">países</a> y <a href="{% url 'languages_candidate_index' %}">candidatos</a> en los tuits. Esto te servirá para hacerte una idea de hasta qué punto es europea o nacional la campaña electoral.
                </dd>

                <br>

                <dt>
                    Partidos en el mapa
                </dt>

                <dd>
                    Aquí podrás ver sobre un <a href="{% url 'geo_group_representation' %}">mapa</a> a qué país pertenece cada partido, el grupo del parlamento europeo al que pertenecen representado por su color y, si pinchas sobre el icono, estadísticas del uso de twitter de cada partido.
                </dd>

                <br>

                <dt>
                    Interacciones en twitter
                </dt>

                <dd>
                    Quizás la más intimidante a primera vista, pero la que más invita a jugar con ella. Aquí encontrarás un <a href="{% url 'interaction_communities' %}">gráfico</a> que refleja las interacciones que tienen las cuentas de los partidos con otras cuentas de twitter. No te olvides de leer las instrucciones para sacar partido al juego.
                </dd>
            </dl>
        </div>

        <div class="panel-group col-md-6" id="accordion">
        {% for group in groups %}
            <div class="panel panel-default panel-{{ group.slug }}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ group.slug }}">
                            {{ group.initials }}
                        </a>
                    </h4>
                </div>

                <div id="collapse-{{ group.slug }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ STATIC_PREFIX }}img/logos/{{ group.slug }}.png" width="100" />
                            </div>

                            <div class="group-name col-md-9">
                                {{ group.name }}
                            </div>
                        </div>

                        <div class="soften-limited"></div>

                        <p>
                            <strong>Hashtag más usado:</strong>
                            &emsp;
                            <a target="_blank" href="https://twitter.com/hashtag/{{ group.top_hashtag }}">
                                #{{ group.top_hashtag }}
                            </a>
                            &emsp;
                            (utilizado {{ group.top_hashtag_count }} veces)
                        </p>

                        <p>
                            <strong>Idiomas más empleados:</strong>&emsp;

                            <table class="table table-striped table-condensed">
                            {% for language in group.languages %}
                                <tr class="row">
                                    <td class="col-md-2 col-md-offset-4">
                                        &emsp;<strong>{{ language.language }}</strong>
                                    </td>

                                    <td class="col-md-2">
                                        {{ language.percentage }} %
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </p>

                        <p>
                            <strong>Menciones:</strong>
                            &emsp;<i class="fa fa-circle" style="color: #5bc0de;"></i>&emsp;Europeo&emsp;&emsp;<i class="fa fa-circle" style="color: #5cb85c;"></i>&emsp;Nacional
                            <br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: {{ group.discourse.european }}%">
                                    {{ group.discourse.european }}%
                                </div>

                                <div class="progress-bar progress-bar-success" style="width: {{ group.discourse.national }}%">
                                    {{ group.discourse.national }}%
                                </div>
                            </div>
                        </p>

                        <p>
                            <strong>Partidos:</strong>
                            <br>

                            <table class="table table-striped table-condensed">
                            {% for party in group.parties %}
                                <tr>
                                    <td>
                                        <strong>{{ party.name }}</strong>
                                    </td>

                                    <td>
                                        {% if party.screen_name %}
                                            <a target="_blank" href="https://twitter.com/{{ party.screen_name }}">
                                                @{{ party.screen_name }}
                                            </a>
                                        {% else %}
                                            <p class="text-muted">Sin cuenta de Twitter</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div> <!-- end #accordion .panel-group -->
    </div>

{% endblock %}



{% block scripts %}
{% endblock %}
