{% extends "eu_elections_analytics/base.html" %}



{% block header_css %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />

    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>

{% endblock%}



{% block content %}

    <div id='map'></div>

{% endblock %}



{% block scripts %}

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="{{ STATIC_PREFIX }}js/KML.js"></script>

    <script type='text/javascript'>
        var map = new L.Map('map', {center: new L.LatLng(47.5, 10.3), zoom: 5});
        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        var track = new L.KML("{{ STATIC_PREFIX }}data/map.kml", {async: true});
        track.on("loaded", function(e) { map.fitBounds(e.target.getBounds()); });

        map.addLayer(track);
        map.addLayer(osm);
        map.addControl(new L.Control.Layers({}, {'Track':track}));
    </script>

{% endblock %}
