{% extends "eu_elections_analytics/base.html" %}



{% block header_css %}

    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/jqcloud.css">

{% endblock %}



{% block content %}

    {{ results }}

    <h1>Hashtags for <strong>{{ group.initials }}</strong></h1>

    <div class="centered">
        <!-- Dimensions of the tag cloud container element must be explicitly specified -->
        <div id="hashtag_tag_cloud" style="width: 1000px; height: 450px;"></div>
    </div>

{% endblock %}



{% block scripts %}

    <script src="{{ STATIC_PREFIX }}js/jqcloud-1.0.4.min.js"></script>

    <script>
        /*!
        * Create an array of word objects, each representing a word in the cloud
        */
        var word_array = [
        ];

        $(function() {
            // When DOM is ready, select the container element and call the jQCloud method,
            // passing the array of words as the first argument.
            $("#hashtag_tag_cloud").jQCloud(word_array);
        });
    </script>

{% endblock %}
