{% extends "eu_elections_analytics/base.html" %}



{% block content %}

    <h2>Hashtags utilizados en los diversos países</h2>

    <br>
    <br>

    <div class="row centered">
        {% for country in countries %}
            {% if forloop.counter0|divisibleby:4 %}{% endif %}
            <div class="col-md-2 well country-well">
                <a href="{% url 'hashtags_by_country' country.slug %}">
                    {{ country.long_name }}
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}



{% endblock %}
