{% extends "eu_elections_analytics/base.html" %}



{% block content %}

    <div class="row centered">
        {% for candidates in candidates %}
            {% if forloop.counter0|divisibleby:4 %}{% endif %}
            <div class="col-md-2 well country-well">
                <a href="{% url 'languages_by_candidate' candidates.screen_name %}">
                    {{ candidates.screen_name }}
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}



{% endblock %}
