* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

html, body {
    /*height: 100%;*/
}

.centered, .center {
    text-align: center;
}

#header-image {
    width: 100%;
    border-bottom: solid 5px #101e38;
}

#main-container {
    display: block;
    min-height: 450px;
    margin-top: 25px;
    margin-bottom: 2em;
}

.soften {
    height: 5px;
    margin: 3em 0 1.5em 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
}

.soften-limited {
    height: 5px;
    margin: 1em 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 7.5em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 7.5em;
    background-color: white;
    border-top: solid 5px #101e38;
}

/* End sticky footer styles
-------------------------------------------------- */

#morelab-logo {
    margin-top: 1em;
}

#deusto-barometro-logo {
    margin-top: 1.5em;
}

#deusto-logo {
    margin-top: 2em;
}

g.country-axis > g.tick > text {
    -webkit-transform: rotate(-90deg);
}

#chart {
    margin-bottom: 10em;
}

#sigma-container {
    width: 100%;
    min-height: 600px;
}

.axis {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}




.sigma-parent > .col-md-8 {
    height: 600px;
    border: 3px ridge #ccc;
}

#sigma-canvas {
    margin-top: 1%;
    height: 98%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-panel > h1 {
    font-size: 1.25em;
    font-weight: bold;
}

#main-panel > h2 {
    padding-top: 0;
    padding-bottom: 0.75em;
    font-size: 0.95em;
}

#label {
  margin-left: 5%;
  margin-bottom: 5px;
}

#search-input {
  width: 75%;
  margin-left: 15%;
}

.search-result {
  color: #4d6df3;
  font-size: 0.75em;
}

#zoom {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 25px;
    margin: 0 auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align:left;
}

#zoom .z {
    background: #fff;
    background-color: rgba(255,255,255,0.7);
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    float: left;
    margin-right: 4px;
    background-repeat: no-repeat;
}

#zoom .z[rel=center] {
    background-image: url('../img/zoom_reset.png');
    background-position: center;
}

#zoom .z[rel=in] {
    background-image: url('../img/zoom_in.png');
    background-position: center;
}

#zoom .z[rel=out] {
    background-image: url('../img/zoom_out.png');
    background-position: center;
}

#full-network {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.name {
    display: block;
    margin-bottom: 0.75em;
}

.attribute-pane {
    padding: 1.5em;
    border: 1px solid #ccc;
}

.attribute-pane > h2 {
    font-size: 1.25em;
}

.membership {
  color: #4d6df3;
  font-size: 0.75em;
}

.navbar-wrapper {
    margin-top: -25px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    color: #5a5a5a;
}

.navbar-wrapper .navbar {
    border-radius: 5px;
}

.btn-alde {
    color: #fff;
    background-color: #f7981d;
    border-color: #de881a;
}

.btn-eaf {
    color: #fff;
    background-color: #858585;
    border-color: #777;
}

.btn-ecr {
    color: #fff;
    background-color: #22205f;
    border-color: #1e1c55;
}

.btn-efd {
    color: #fff;
    background-color: #973693;
    border-color: #873084;
}

.btn-epp {
    color: #fff;
    background-color: #6598cb;
    border-color: #5a88b6;
}

.btn-gue-ngl {
    color: #fff;
    background-color: #981b1e;
    border-color: #88181b;
}

.btn-greens {
    color: #fff;
    background-color: #0b9147;
    border-color: #09823f;
}

.btn-sd {
    color: #fff;
    background-color: #ef4d4d;
    border-color: #d74545;
}

#map {
    border: 3px solid #777;
}


.panel-alde > .panel-heading {
    color: #000;
    background-color: #f7981d;
}

.panel-eaf > .panel-heading {
    color: #000;
    background-color: #858585;
}

.panel-ecr > .panel-heading {
    color: #000;
    background-color: #22205f;
}

.panel-efd > .panel-heading {
    color: #000;
    background-color: #973693;
}

.panel-epp > .panel-heading {
    color: #000;
    background-color: #6598cb;
}

.panel-gue-ngl > .panel-heading {
    color: #000;
    background-color: #981b1e;
}

.panel-greens > .panel-heading {
    color: #000;
    background-color: #0b9147;
}

.panel-s-d > .panel-heading {
    color: #000;
    background-color: #ef4d4d;
}

.group-name {
    font-size: 1.5em;
    margin-top: 1em;
}

.descriptions {
    text-align: justify;
}

.country-well {
    margin: 1.5em;
}
